.contect{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}
.bannar{
    width: 100%;
    padding: 3rem 0rem;
    border-top: 1px dashed gray;
}
.pagebannar{
    width: 100%;
    position: relative;
    background-image: url(../../images/about-us-page-heading.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
    height: 40rem;
    color: #fff;
}
.contectform{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    border-top: 1px dashed gray;
}
.map{
    width: 40%;
}
.map iframe{
    width: 100%;
    height: 40rem;
}
.form{
    width: 55%;
}
.dataform{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
.footer{
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.suboption{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px dashed gray;
}
@media (max-width:1100px) {
    .contectform{
        flex-wrap: wrap-reverse;
        gap:5rem;
    }
    .form{
        width: 100%;
    }
    .map{
        width: 100%;

    }
}
@media (max-width:980px) {
    .contectform{
        width: 90%;
    }
}
@media (max-width:780px) {
    .contectform{
        width: 95%;
    }
}