.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    height: 100%;
    padding-bottom: 1rem;
}
.img{
    width: 100%;
    position: relative;
    height: 90%;
    overflow: hidden;
}
.img img{
    width: 100%;
    height: 100%;
    z-index: 2 ;

}
.hover{
    position: absolute;
    bottom: -6%;
    background-color: transparent;
    width: 100%;
    height: 5px;
    z-index: 999;
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    transition: 0.2s linear;
}
.icon{
    font-size: 2rem;
    background-color: white;
    padding: 1.3rem;
    cursor: pointer;;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img:hover .hover{
    bottom: 10%;
    transition: 0.2s linear;
}
.detials{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.top h1{
    font-size: 3rem;
    color: black; 
}
.top h2{
    font-size: 1.5rem;
}
.detials p{
    width: 100%;
    font-size: 2rem;
    color: gray;
}