.carticon{
    width: 5rem;
    height: 5rem;
    border: 2px solid #fff;
    background-color:#fff;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 7%;
    right: 5%;
    z-index: 1100;
    font-size: 2.3rem;
    color: #146BBF;
    cursor: pointer;
    transition: all 0.2s linear;
}
.carticon:hover{
    color: red;
    transition: all 0.2s linear;
}
.countitem{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:60%;
    left: 60%;
    font-size: 1.2rem;
    background-color: #2BB4A6;
    border-radius: 50%;
    color: #fff;
    transition: all 0.2s linear;
}