@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Poppins:wght@400&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
    font-size: 10px;
}
@media (max-width:780px) {
  html{
    font-size: 9px;
  }

}
