.admin{
    width: 100%;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
.adh{
    font-size: 4rem;
    color: #FF5635;
    border-bottom: 1px solid #FF5635;
}