.home{
    position: relative;
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
.cardsveiw{
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}
@media (max-width:980px) {
    .cardsveiw{
        width: 90%;
    }
}
@media (max-width:720px) {
    .cardsveiw{
        width: 96%;
    }
}